{{ define "main" }}

<html>
<head>
  <style>
    .banner-text {
      font-size: 24px;
      text-align: center;
      margin: 80px;
    }
  </style>
</head>
<body>  
    <div class="banner-text">
            <p>Tento web byl vytvořen v rámci předmětu ZPC vyučovaného 
                 na Fakultě strojního inženýrství, VUT v Brně.
                 Budou se zde dokumentovat má provedení jednotlivých projektů, 
                 které se uskuteční během zimního semestru roku 2O25. 
            </p>
    </div>
</body>
</html>

{{ end }}
